{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
    <h1>Alta de usuarios</h1>
    <form>
        <input id="searchbox" type="text" >
        <button>buscar</button>
    </form>
    {{ include('usuario/_form.html.twig') }}
    <div style="height:400px;overflow:auto;">
        <table border="1" class="table table-dark">
            <thead>
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Keycloak ID</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <th>{{ usuario.idUserAd }}</th>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.idUserKeycloak }}</td>
                    <td>
                        {{ include('usuario/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url('usuario') }}"class="btn btn-primary">Confirmar alta y salir</a>

{% endblock %}