{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
    <h1>Alta de usuarios</h1>
    <form>
  		<input id="searchbox" type="text" >
  		<input type="submit" value="buscar">
  		
	</form>
    {{ include('usuario/_form.html.twig') }}
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <th>{{ usuario.idUserAd }}</th>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.idUserKeycloak }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('usuario') }}">Volver a la lista</a>
    {{dump(usuarios)}}
{% endblock %}
