{% extends 'base.html.twig' %}

{% block body %}
    <table id="usuariosHpc" class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Keycloak ID</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.idUserAd }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.idUserKeycloak }}</td>
                <td>
                    <a href="{{ path('usuario_edit', {id: usuario.idUserHpc}) }}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}