<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
                 {{ encore_entry_link_tags('app') }}
                 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                 <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
                 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
    	{{include('header.html.twig')}}
    	{% block toolbar %}
	   	<nav id="toolbar" class="bd-subnavbar py-2" aria-label="Secondary navigation">
		<div class="container-xxl d-flex align-items-md-center">
		{% block toolbar_content %}
		    	{{include('toolbar.html.twig')}}
		{% endblock toolbar_content %}    		    	
	    	</div>
	    	</nav>
	{% endblock toolbar %}    	
	
	<div class="container-fluid">
	<div class="row">
        {% block body %}
		{% block sidebar %}
		        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		        <div class="position-sticky pt-3">
				{% block sidebar_content %}
				    	{{include('sidebar_content.html.twig')}}
				{% endblock sidebar_content %}    		    	
			</div>
			</nav>
		{% endblock sidebar %}
		
		<main id="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
		{% block main %}
			
				{% block main_content %}
				    	{{include('main_content.html.twig')}}
				{% endblock main_content %}    		    	
		{% endblock main %}
		</main>

        {% endblock %}
	</div>
      	</div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
