{% extends 'base.html.twig' %}

{% block title %}Alta Dispositivos{% endblock %}

{% block body %}
    <h1>Alta de Dispositivos Hoja de Primer Contacto (HPC)</h1>

    {{ include('dispositivos/_form.html.twig') }}

<div style="height:420px;overflow:auto;">
    <table border="1" class="table table-dark" >
        <thead class="fixedHeader">
            <th>Código Interno</th>
            <th>Dispositivo</th>
            <th>Acción</th>
        </thead>
        <tbody>
        {% for dispositivo in dispositivos %}
            <tr>
                <td>{{ dispositivo.codigoDispositivo }}</td>
                <td>{{ dispositivo.descripcion }}</td>
                <td>
                    {{ include('dispositivos/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron dispositivos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a class="btn btn-warning" href="{{ path('usuario') }}">Confirmar Altas</a>


{% endblock %}
